<h2><%= @cocktail.name %></h2>

<% @cocktail.doses.each do |dose| %>
  <p><%= dose.description %></p>
  <p><%= dose.ingredient.name %></p>
<% end %>

<%= link_to 'add dose', new_cocktail_dose_path(@cocktail) %>

<%= link_to "Delete #{@cocktail.name}",
            cocktail_path(@cocktail),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to 'Back', cocktails_path %> |
